{% extends 'base.html' %}
{% load staticfiles %}
  
{% block title %} 
  {{ profile_user.get_full_name }} 
{% endblock %}
  
{% block head %}
  <link rel="stylesheet" href="{% static 'css/profile-style.css' %}">
{% endblock head %}
   
{% block body %}
   <div class="profile-info">
    <div class="profile-avatar">
      <img src="{{ profile_user.profile.get_picture }}">      
    </div>
    <div class="profile-name">
      {{ profile_user.get_full_name }}
        {% if profile_user.profile.is_expanded  %}
          <span class="glyphicon glyphicon-ok profile-is-exp" aria-hidden="true"></span>
        {% endif %}
      <div class="profile-online">
        {% if profile_user.profile.is_online  %}
          online
        {% endif %}
      </div>
    </div>
    <div class="profile-status">
     {% if profile_user.profile.status %}
      {{ profile_user.profile.status }}
     {% endif %}
      <hr>
    </div>
    <div class="profile-data">
      {% if profile_user.profile.location %}
      <div class="profile-data-label">Місто:</div>
      <div class="profile-data-text">{{ profile_user.profile.location }}</div><br>
      {% endif %}
      {% if profile_user.profile.school %}
      <div class="profile-data-label">Навчальний заклад:</div>
      <div class="profile-data-text">{{ profile_user.profile.school }}</div><br>
      {% endif %}
      {% if profile_user.profile.form %}
      <div class="profile-data-label">Клас:</div>
      <div class="profile-data-text">{{ profile_user.profile.form }}</div>
      {% endif %}
    </div>
    <div class="profile-awards">

    </div>
    <div class="profile-buttons">
    {% if is_sent_request %}
     <form action="{% url 'cancel_friend_request' %}" method="post">
       {% csrf_token %}
       <input type="hidden" name="to_user" value="{{ profile_user.username }}">
        <div class="profile-sent-friend-request">Запит відправлено
        </div>
        <button type="submit" class="btn btn-warning btn-add-fr">
          <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Відмінити     запит
        </button>
      </form>    

    {% elif is_request %}
      <div style="font-size:12px;">Користувач відправив Вам заявку</div>
        <form action="{% url 'accept_friend_request' %}" style="float: left; margin-right: 5px;" method="post">
             {% csrf_token %}
             <input type="hidden" name="request_from_user" value="{{ profile_user.username }}">
             <button type="submit" class="btn btn-success btn-sm">
             <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Прийняти
             </button>
        </form>
        <form action="{% url 'reject_friend_request' %}" method="post">
             {% csrf_token %}
             <input type="hidden" name="request_from_user" value="{{ profile_user.username }}">
             <button type="submit" class="btn btn-danger btn-sm">
             <span class="glyphicon glyphicon-minus" aria-hidden="true"></span> Відхилити
             </button>
        </form>   
    {% else %}
      <form action="{% url 'send_friend_request' %}" method="post">
      {% csrf_token %}
      <input type="hidden" name="to_user" value="{{ profile_user.username }}">
      <button type="submit" class="btn btn-success btn-add-fr">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Додати в друзі
      </button>
      </form>
    {% endif %}
    </div>

  </div>  
  <div class="profile-wall-sections">
    <ul class="nav nav-tabs nav-justified">
      <li role="presentation" class="active"><a href="#">Стіна</a></li>
<!--      <li role="presentation"><a href="#">Інформація</a></li>-->
      <li role="presentation"><a href="#">Друзі</a></li>
      <li role="presentation"><a href="#">Спільноти</a></li>
      <li role="presentation"><a href="#">Нагороди</a></li>
    </ul>
  </div>
    
  <div class="profile-wall">
   <div class="profile-wallpost-form">

    </div>
    
    <div class="profile-wall-posts-block">
    {% if profile_wallposts %}
      {% for post in profile_wallposts %}
        {% include 'core/wall_post.html' with post=post %}
      {% endfor %}
    {% else %}
      <div class="profile-no-wallposts text-center">
        <img src="{% static 'img/no_posts.png' %}" alt="">
        <h5>Наразі на стіні немає жодного запису.</h5>
      </div>
      {% endif %}
      
      
    </div>
  </div>
  {% endblock body %}